/*ตำแหน่งบอร์ด*/
.FateTutorialRoot
{
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.WelcomeContainer
{
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.DisplayBoard
{
    width: 62%;
    height: 75%;
    horizontal-align: center;
    vertical-align: center;
    margin-left: 600px;
}

.skilllayerImg
{
    width: 95%;
    height: 40%;
    horizontal-align: center;
    vertical-align: bottom;
}

.DisplayImg
{
    width: 95%;
    height: 70%;
    horizontal-align: left;
    vertical-align: bottom;
}

.Inhate
{
	 width: 100%;
    height: 100%;
	horizontal-align: center;
    vertical-align: center;
	 margin-left: 10%;
	 margin-top: 20%; 
}


.Masters
{
	
	 width: 80%;
    height: 70%;
	 margin-top: 20%; 
	 margin-left: 5%; 
}



.Grail
{
	
	 width: 100%;
    height: 100%;
	margin-top: 15%;	
}

.SettingsFate
{
	
	width: 100%;
	height: 100%;
	margin-top: 15%;
}


.CustPanel
{
	
	 width: 100%;
    height: 100%;
	 margin-top: 20%; 
   
}


.Ava
{
	
	   width: 100%;
    height: 100%;
    horizontal-align: left;
	margin-top: 35%;
}

.Exca
{
	 width: 100%;
    height: 100%;
	
    margin-left: 10%;
    vertical-align: center;
	 margin-top: 35%;
}


.MaxExca
{
	 width: 100%;
    height: 100%;
         margin-left: 10%;
    vertical-align: center;
	 margin-top: 37%;	
}

.MasterRevoke
{
   width: 100%;
    height: 100%;
	 margin-top: 25%;
	  margin-left: 10%;
}

.ServantStats
{
	
		 width: 100%;
    height: 100%;
	
    vertical-align: center;
	 margin-top: 20%;
	
}

.HeadBox
{
    width: 1100px;
    height: 100px;
    vertical-align: top;
    margin-left: 600px;
}

.HeadText
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 60px;
    color: white;
}

/*กดพื้นหลังแล้วไม่หาย */
#FateTutorialBackground
{
    width: 0%;
    height: 0%;
}

.Moderator
{
    width: 600px;
    height: 900px;
    horizontal-align: left;
    vertical-align: center;
    background-image: url("s2r://panorama/images/custom_game/tutorial/kirei2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ModeratorQuest
{
    width: 600px;
    height: 900px;
    horizontal-align: left;
    vertical-align: center;
    background-image: url('file://{images}/custom_game/tutorial/kirei3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ModeratorL
{
    width: 600px;
    height: 900px;
    horizontal-align: left;
    vertical-align: center;
    background-image: url('file://{images}/custom_game/tutorial/kirei1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*บอร์ดหลัก */
#FateTutorialBoard
{
    width: 90%;
    height: 85%;
    vertical-align: center;
    horizontal-align: center;
    perspective-origin: 62% 5% invert;
    perspective: 1000;
    visibility: visible;

    transition-property: opacity, transform, pre-transform-scale2d, wash-color;
    transition-duration: 0.4s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;
    background-image: url('file://{images}/custom_game/tutorial/seal1.png');
	background-repeat: no-repeat;
    background-position: center;
	background-size: 40% 40%;
    background-color: #000000;
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 4px solid #32383677;
	border-color: gray;
	
}

.FateBoardHidden
{
    opacity: 0.0;
    transform: translateX( -120px ) translateY( -60px );
    pre-transform-scale2d: 0.95;
    wash-color: #33cccc;
    visibility: collapse;
}

/*พทปุ่ม*/
.DownButton 
{
    width: 300px;
    height: 100px;
    vertical-align: bottom;
    horizontal-align: center;
}

.BackButton
{
    width: 130px;
    height: 70px;
    margin-left: 10px;
    vertical-align: center;
    horizontal-align: left;
    border: 1px solid #32383677;
    border-color: grey;
}

.ButtonText
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 40px;
    color: white;
	
}

.NextButton
{
    width: 140px;
    height: 70px;
    margin-right:  10px;
    vertical-align: center;
    horizontal-align: right;
    border: 1px solid #32383677;
    border-color: grey;
	
}

.NextButton:hover
{
        transform: scale3d(1.1, 1.1, 1);
	box-shadow: green -1px -1px 2px 2px;
	
}
.BackButton:hover
{
        transform: scale3d(1.1, 1.1, 1);
	box-shadow: red -1px -1px 2px 2px;
	
}

.DescribeTextBot
{
    text-align: center;
    vertical-align: bottom;
    font-size: 40px;
    color: white;
}

.DescribeText
{
    text-align: center;
    vertical-align: top;
    font-size: 40px;
    color: white;
}

#7_Deaths_Describe2
{
	
	margin-top: 25%;
}

.DescripeText2
{
    text-align: left;
    font-size: 40px;
    color: white;	
	
}

.Rules
{
      text-align: left;
    vertical-align: top;
    font-size: 40px;
    color: white;	
	
}

#FateLogo
{
    width: 1100px;
    height: 150px;
    margin-top: 350px;
    horizontal-align: center;
    margin-left: 600px;
    /*background-image: url("s2r://panorama/images/heroes/npc_dota_hero_legion_commander_png.vtex");*/
}

#WelcomeTextBox1
{
    width: 1100px;
    height: 350px;
    vertical-align: top;
    horizontal-align: left;
    margin-left: 600px;
}

#WelcomeText1
{
    vertical-align: bottom;
    margin-left: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
}

#WelcomeTextBox2
{
    width: 1100px;
    height: 300px;
    margin-top: 500px;
    vertical-align: top;
    horizontal-align: left;
    margin-left: 600px;
}

#WelcomeText2
{
    text-align: center;
    vertical-align: top;
    margin-left: 100px;
    font-size: 50px;
    color: white;
}

.Skilll
{
    width: 1100px;
    height: 200px;
}

#Skill
{
    width: 100px;
    height: 100px;
    margin-top: 75px;
    vertical-align: top;
    margin-left: 75px;
    background-image: url('file://{images}/heroes/npc_dota_hero_legion_commander.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#SkillName
{
    width: 700px;
    height: 50px;
    margin-top: 50px;
    vertical-align: top;
    margin-left: 250px;
    horizontal-align: left;
    /*background-color: red;*/
}

#SkillDescription
{
    
    width: 700px;
    height: 90px;
    margin-top: 110px;
    vertical-align: top;
    horizontal-align: left;
    margin-left: 250px;
    /*background-color: yellow;*/
}

#Skills
{

    flow-children: down;
    
}

#SkillDesText
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 25px;
    color: white;
}

#SkillText
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 30px;
    color: #00FFFF;
}

#QuestText
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 60px;
    color: white;
}

.Ability
{
    width: 100px;
    height: 100px;
    margin-top: 75px;
    vertical-align: top;
    margin-left: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	border: 2px solid #32383677;
	border-color: gray;
}

.AbilityName
{
    width: 700px;
    height: 50px;
    margin-top: 50px;
    vertical-align: top;
    margin-left: 250px;
    horizontal-align: left;
    /*background-color: red;*/
}

.AbilityDescription
{
    
    width: 700px;
    height: 90px;
    margin-top: 110px;
    vertical-align: top;
    horizontal-align: left;
    margin-left: 250px;
    /*background-color: yellow;*/
}

.AblityBoxLeft
{

}

.AbilityLeft
{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    vertical-align: top;
    margin-left: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid #32383677;
    border-color: gray;
}

.AbilityLeftName
{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    vertical-align: top;
    margin-left: 50px;
    horizontal-align: left;
    background-color: red;
}

.AbilityLeftDescription
{
    
    width: 300px;
    height: 90px;
    margin-top: 110px;
    vertical-align: top;
    horizontal-align: left;
    margin-left: 50px;
    background-color: yellow;
}

.Hidden {
    visibility: collapse;
}