.FateShopRoot
{
    width: 100%;
    height: 100%;
    z-index: 5;
}

#ShopBackground
{
    width: 100%;
    height: 100%;
}

.ShopButton
{
    width: 100px;
    height: 28px;
    tooltip-position: bottom;
    opacity: 0.8;
    wash-color: #CDF;
    /*background-image: url('file://{images}/custom_game/event/closed.png');
    background-repeat: no-repeat;
    background-size: 100%;
    transition-property: opacity;
    transition-duration: 0.2s;
    background-position: center;
    
    
    z-index: 0;
    margin-right: 200px;*/
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    
    vertical-align: top;
    horizontal-align: right;
    
    background-color: #00ccff;
    
}

#ShopCP
{
    vertical-align: center;
    font-size: 18px;
    color: white;
    horizontal-align: center;
}

.ShopMainContainer
{
    width: 80%;
    height: 80%;
    vertical-align: center;
    horizontal-align: center;
    perspective-origin: 62% 5% invert;
    perspective: 1000;
    visibility: visible;

    /*transition-property: opacity, transform, pre-transform-scale2d, wash-color;
    transition-duration: 0.4s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;*/

    background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
    z-index: 1;
}

.ShopContainerHidden
{
    opacity: 0.0;
    transform: translateX( -120px ) translateY( -60px );
    pre-transform-scale2d: 0.95;
    wash-color: #33cccc;
    visibility: collapse;
}

.ShopCloseButton
{
    width: 40px;
    height: 40px; 
    background-color: blue;
    background-size: 100%;
    background-image: url('file://{images}/custom_game/event/closed.png');
    background-size: contain;
    background-repeat: no-repeat;
    horizontal-align: right;
    vertical-align: top;
    z-index: 10;
}

.ShopTopPanel
{
    width: 100%;
    height: 30%;
    horizontal-align: center;
    vertical-align: top;
}

.ShopLeftPanel
{
    width: 10%;
    height: 70%;
    horizontal-align: left;
    vertical-align: bottom;
    flow-children: down;
    overflow: squish scroll;
}

.ShopRightPanel
{
    width: 90%;
    height: 70%;
    horizontal-align: right;
    vertical-align: bottom;
}

.ShopBanner
{
    width: 800px;
    height: 450px; 
    background-size: 100%;
    background-image: url('file://{images}/custom_game/event/skin_shop.png');
    background-repeat: no-repeat;
    horizontal-align: center;
    vertical-align: center;
}

.ShopCatButton
{
    margin-top: 10px;
    width: 100%;
    height: 20%;
    horizontal-align: left;
    vertical-align: top;
    border-bottom: 4px solid white;
}

.ShopNavBarLabel
{
    font-size: 40px;
    color: white;
    vertical-align: center;
    horizontal-align: center;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 2px;
}

.ShopNavBarSeperator
{
    color: #939da044;
    margin-top: 24px;
    margin-bottom: 24px;
}

.ShopNavBarHover
{
    color: #b1b5bc;
}

.ShopNavBarActive
{
    color: white;
}

.SkinShopContainer
{
    width: 100%;
    height: 100%;
}

.SkinShopTopPanel
{
    width: 100%;
    height: 15%;
    horizontal-align: center;
    vertical-align: top;
    flow-children: right-wrap;
}

.SkinShopBotPanel
{
    width: 100%;
    height: 85%;
    horizontal-align: center;
    vertical-align: bottom;
    flow-children: down;
    overflow: squish scroll;
    visibility: visible;
}

.SkinShopBot
{
	horizontal-align: left;
    vertical-align: top;
	flow-children: right-wrap;
}

.SkinMainContainer
{
    width: 150px;
    height: 230px;
    margin-top: 8px;
    margin-left: 8px;
    perspective-origin: 62% 5% invert;
    perspective: 1000;
    transition-property: opacity, transform, pre-transform-scale2d, wash-color;
    transition-duration: 0.4s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;

    background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
}

.SkinPortrait
{
    width: 148px;
    height: 200px;
    background-image: url('file://{images}/custom_game/event/closed.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 3px;
    border: 5px solid #D4D48C;
    vertical-align: top;
    horizontal-align: center; 
    z-index: 0;
}

.SkinCostButton
{
    width: 150px;
    height: 30px;
    background-color: yellow;
    /*background-image: url('file://{images}/custom_game/event/closed.png');
    background-size: 100%;
    background-repeat: no-repeat;*/
    vertical-align: bottom;
    horizontal-align: center; 
}

.SkinDetailPanels
{
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    background-color: black;
    opacity: 0.8;
    vertical-align: bottom;
    horizontal-align: center; 
    flow-children: up;
    z-index: 1;
}

.SkinDetailPanel
{
    width: 150px;
    height: 30px;
    /*background-color: black;
    opacity: 0.5;*/
    vertical-align: bottom;
    horizontal-align: center; 
}

#SkinPortraitNameLabel
{
    vertical-align: center;
    font-size: 18px;
    color: white;
    horizontal-align: center;
}

#SkinCostLabel
{
    vertical-align: middle;
    font-size: 22px;
    color: black;
    horizontal-align: center;
}

.SkinShopBuyBox
{
    width: 400px;
    height: 80px;
    vertical-align: center;
    horizontal-align: center;
    perspective-origin: 62% 5% invert;
    perspective: 1000;
    visibility: visible;

    transition-property: opacity, transform, pre-transform-scale2d, wash-color;
    transition-duration: 0.4s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;

    background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
    z-index: 15;
}

.PopupContainer
{
    width: 750px;
    height: 550px;
    vertical-align: center;
    horizontal-align: center;
    visibility: visible;
    background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
    flow-children: down;
    z-index: 50;
}

.PopupSkinPortrait
{
    width: 148px;
    height: 182px;
    background-image: url('file://{images}/custom_game/event/closed.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    border: 5px solid #D4D48C;
    vertical-align: top;
    horizontal-align: center; 
    z-index: 0;
}

.PopupDescribePanel
{
    width: 750px;
    height: 100px;
    vertical-align: top;
    horizontal-align: center; 
    flow-children: right-wrap;
}

#PopupDescribeLabel
{
    vertical-align: middle;
    font-size: 32px;
    horizontal-align: center;
    color: white;
}

.PopupButtonsPanel
{
    width: 750px;
    height: 130px;
    vertical-align: top;
    horizontal-align: center; 
    flow-children: right-wrap;
}

.PopupCostPanel
{
    width: 750px;
    height: 110px;
    vertical-align: top;
    horizontal-align: center; 
}

#PopupCostLabel
{
    vertical-align: middle;
    font-size: 50px;
    horizontal-align: center;
    color: white;
}

.PopupButton
{
    width: 150px;
    height: 90px;
    margin-left: 120px;
    vertical-align: center;
    horizontal-align: left; 
    background-color: yellow;
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
}

#PopupButtonLabel
{
    vertical-align: middle;
    font-size: 50px;
    horizontal-align: center;
    color: black;
}