# folders
content/
game/_toolsettings/
game/bin/
game/core/
game/dota/
game/dota_koreana/
game/dota_lv/
game/dota_russian/
game/dota_schinese/
game/dota_addons/*
!game/dota_addons/fate

# files
*.cfg
*.bin
game/thirdpartylegalnotices.txt
steam_appid.txt