# folders
content/
game/dota_addons/*
!game/dota_addons/fate
game/_toolsettings/
game/bin/
game/core/
game/dota/
game/dota_koreana/
game/dota_lv/
game/dota_russian/
game/dota_schinese/


# files
*.cfg
*.bin
steam_appid.txt
game/thirdpartylegalnotices.txt